<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhonePicMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5C36D8A81DADD69400146E6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C36D8BC1DADD69500146E6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C36D8C71DADD69500146E6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
